.register-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.register-card {
  height: 400px;
  width: 400px;
  background-color: transparent;
  border-width: 1px;
  border-color: #0284c7;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  box-shadow: 1px 1px 10px #0284c7;
}
.register-heading {
  font-size: 30px;
  color: #0284c7;
  font-weight: 400;
}
.name-re {
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 450;
  color: grey;
}
.input {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 250px;
  height: 30px;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
}
.container-input {
  margin-top: 20px;
}
.register-button {
  height: 25px;
  width: 80px;
  border-width: 1px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
  border-color: #0284c7;
  color: #0284c7;
  border-style: solid;
  border-width: 1px;
}
.para-login-here {
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  font-size: 14px;
}
.login-here-link {
  color: black;
  font-weight: 550;
}
